/* You can add global styles to this file, and also import other style files */

#themecolors .selector .cursor {
    cursor: pointer;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    border: 1px solid gray;
    border-radius: 100%;
    width: 35px;
}